<div class="flex flex-row justify-start w-full global-frame">
    <div class="p-4 flex flex-col items-center rounded-xl bg-gray-100 border border-gray-300 shadow-xl w-1/4 h-fit">
        <div class="flex flex-col justify-between items-start gap-y-2 mt-2 w-full">
            <input type="text" placeholder="Enter name" [formField]="createProductForm.name" class="border border-black p-1 rounded-md w-full"/>
            <input type="number" placeholder="Enter price" [formField]="createProductForm.price" class="border border-black p-1 rounded-md w-full"/>
            <select class="border border-black p-1 rounded-md w-full" [style.color]="createProductModel().categoryId == '' ? 'gray' : 'black'" [formField]="createProductForm.categoryId">
                <option [value]="''" disabled selected hidden>Select category</option>
                @for (item of _categoriesService.categoriesResource.value(); track item.id) {
                    <option [value]="item.id">{{item.name}}</option>
                }
            </select>
            <button class="bg-blue-600 rounded-full text-white cursor-pointer w-full px-4 py-1 mx-auto mt-4 disabled:bg-gray-300 disabled:text-gray-500
            disabled:cursor-not-allowed" 
            type="button" (click)="onFormSubmit()" [disabled]="createProductForm().invalid()">Add Product</button>
        </div>
    </div>
    <div class="flex flex-col w-1/2 items-start ms-5">
        @defer (hydrate on immediate) {
            <div class="flex flex-col justify-between items-center w-full my-auto">
                @if (_productsService.productsResource.isLoading() || !_productsService.productsResource.hasValue()) {
                    <mat-progress-spinner mode="indeterminate" diameter="50">
                    </mat-progress-spinner>
                    <p class="mt-4 text-lg">Loading products</p>
                } @else if (_productsService.productsResource.error()) {
                    <p class="text-red-600">An error occured. Try again.</p>
                } @else if (products().length > 0) {
                    <div
                        class="w-full flex flex-row justify-start items-center h-10 rounded-sm shadow-lg border border-gray-300 mb-1 text-gray-500 text-lg px-4 text-center align-middle">
                        <p class="w-1/4 text-start">Title</p>
                        <p class="w-1/4 text-start px-2">Price</p>
                        <p class="w-1/4 text-start px-2">Category</p>
                        <p class="w-1/4 text-center px-4">Actions</p>
                    </div>
                    @for(item of products(); track item.id; let idx = $index;){
                        <div class="flex flex-row w-full justify-start bg-gray-100 hover:bg-gray-200 py-2 mb-2 rounded-xl shadow-md">
                            <div class="flex flex-row justify-start items-center px-2 py-1 w-3/4">
                                @if (editProductModel().id != item.id) {
                                    <div class="w-1/3">
                                        <p class="w-fit rounded-full px-2 py-1">{{item.name}}</p> 
                                    </div>
                                    <div class="w-1/3">
                                        <p class="w-fit rounded-full text-green-600 px-2 py-1 ml-2">${{item.price}}</p>
                                    </div>
                                    <div class="w-1/3">
                                        <p class="w-fit rounded-full bg-yellow-300 text-black px-2 py-1 ml-2">{{item.categoryName}}</p>
                                    </div>
                                } @else {
                                    <input type="text" [formField]="editProductForm.name" class="border border-black rounded-full px-2 py-1 w-1/3"/>
                                    <input type="number" [formField]="editProductForm.price" class="border border-black rounded-full px-2 py-1 w-1/3 ml-2"/>
                                    <select class="border border-black rounded-full px-2 py-1 w-1/3 ml-2" [formField]="editProductForm.categoryId">
                                        @for(category of _categoriesService.categoriesResource.value(); track category.id) {
                                            <option [value]="category.id">{{category.name}}</option>
                                        }
                                    </select>
                                }
                            </div>
                            <div class="flex flex-row justify-evenly w-1/4" (mouseover)="onItemHover(idx)" (mouseleave)="onItemLeave()">
                                @if (editProductModel().id != item.id) {
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full cursor-pointer"
                                    (click)="selectProductForEdit(item)"><i class="fa fa-edit"></i></button>
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded-full cursor-pointer"
                                    (click)="deleteProduct(item.id)"><i class="fa fa-trash"></i></button>
                                } @else {
                                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-4 rounded-full cursor-pointer"
                                    (click)="saveChanges()"><i class="fa fa-save"></i></button>
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded-full cursor-pointer"
                                    (click)="cancelEdit()"><i class="fa fa-cancel"></i></button>
                                }
                            </div>
                        </div>
                    }
                } @else {
                    <p>No products in the list</p>
                }
            </div>
        } @placeholder {
            <p>Loading products...</p>
        }
    </div>
</div>
